<h6>Create Todo</h6>

<div class="container">
    <form action="" (ngSubmit)="onSubmit()" #todoForm="ngForm">
        <div class="form-row">
            <div class="col-auto">
                <input type="button" 
                class="form-control" placeholder="description"
                id="description" [(ngModel)]="model.description"
                [value]="model.description"
                name="description" #description>
            </div>
            <div class="col-auto">
                <input type="button" 
                class="form-control" placeholder="responsable"
                id="responsable" [(ngModel)]="model.responsable"
                name="responsable" #responsable>
            </div>
            <div class="col-auto">
                <select class="form-control"
                id="priority"
                [(ngModel)]="model.priority"
                name="priority"
                #priority="ngModel">
                <option value="low">low</option>
                <option value="medium">medium</option>
                <option value="high">high</option>
                </select>
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-outline-primary" >create todo</button>
            </div>
        </div>
    </form>
</div>

<div class="container pd-top">
    <h6> todo list</h6>

    <table class="table table-striped">
        <thead>
            <tr>
                <ng-container *ngFor="let todoAttr of modelTodo">
                    <th scope="col">{{ todoAttr}}</th>
                </ng-container>  
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let todo of todos | async">
                <tr>
                    <th scope="row"><span (click)="toggleTodo(todo)" [class.completed]="todo.isCompleted">{{ todo.id }}</span></th>
                    <td><span (click)="toggleTodo(todo)" [class.completed]="todo.isCompleted">{{ todo.description }}</span></td>
                    <td><span (click)="toggleTodo(todo)" [class.completed]="todo.isCompleted">{{ todo.responsable }}</span></td>
                    <td>
                        <span *ngIf="todo.priority == 'low'" class="badge badge-success">Low</span>
                        <span *ngIf="todo.priority == 'medium'" class="badge badge-warning">Medium</span>
                        <span *ngIf="todo.priority == 'high'" class="badge badge-danger">High</span>
                    </td>
                    <td><span (click)="toggleTodo(todo)" [class.completed]="todo.isCompleted">{{ todo.isCompleted }}</span></td>
                    <td> <button type="button" class="btn btn-secondary" (click)="removeTodo(todo)">Del</button></td>
                  </tr>
            </ng-container>
        </tbody>
      </table>
</div>